<%= form_for @genre, url: genres_path do |f| %>
   <div class="form-genre">
     <%= f.text_field :genre_key %>
   </div>
   <%= f.fields_for :diaries do |i| %>
     <div class="form-group">
       <%= i.text_field :philosophy %>
       <br>
       <%= i.text_field :KPI %>
       <br>
       <%= i.text_field :text1 %>
       <br>
       <%= i.text_field :text2 %>
       <br>
       <%= i.hidden_field :user_id, value: current_user.id %>
     </div>
     
    <% end %>
 
  <%= f.submit "送信" %>
<% end %>