          <div class="post_diarry">
            <header class="sub-hedder">
              <ul class="post-headding">
                <li><%= simple_time(diary.created_at) %></li>
                <li><%= link_to "#{diary.user.nickname}", "/users/#{diary.user_id}" %></li>
              </ul>
              <%= image_tag diary.user.image.thumb.url %>
             
              <!--<div class="more">-->
                 <ul class="more_list">
                   <li>
                     <%= link_to "詳細", "/diaries/#{diary.id}", method: :get %>
                   </li>
                   <% if user_signed_in? && current_user.id == diary.user_id %>
                   <li>
                     <%= link_to "編集", "/diaries/#{diary.id}/edit", method: :get %>
                   </li>
                   <li>
                     <%= link_to "削除", "/diaries/#{diary.id}", method: :delete %>
                   </li>
                 </ul>
               <!--</div>-->
            　<% end %>
            </header>
           
            <div class="list">
              <p>人生の理念</p>
              <div class="post_philosophy">
                <%= simple_format(diary.philosophy) %>
              </div>
              <p>あなたの大事な目標</p>
              <div class="post_KPI">
                <%= simple_format(diary.KPI) %>
              </div>
               <p>その目標を達成するために何をした</p>
              <div class="for">
                <%= simple_format(diary.text1) %>
              </div>
              <p>明日もっと良くするために何をする</p>
              <div class="improvement">
                <%= simple_format(diary.text2) %>
              </div>
              
      
              <%= render_with_genres(diary.genre_name) %>
              
            </div>
          </div>
