<div class="new">
    <%= form_tag("/diaries/#{@diary.id}", method: :patch, class: "form-group" ) do %>
    <div class="new_form">
      <p>理念</p>
      <textarea name="philosophy" placeholder="理念" class="edit-diary"><%= @diary.philosophy %></textarea>
      <br>
      <p>KPI</p>
      <textarea name="KPI" placeholder="あなたの理念に基づく目標" class="edit-diary"><%= @diary.KPI %></textarea>
      <br>
      <p>達成するために何をしたか</p>
      <textarea name="text1" placeholder="そのためにしたこと"class="edit-diary"><%= @diary.text %></textarea>
      <br>
      <p>もっと良くするために明日何をする？</p>
      <textarea name="text2" placeholder="もっと良くするために明日何する"class="edit-diary"><%= @diary.text2 %></textarea>
      <br>
      <input type="submit" value="編集完了">
    </div>

    <% end %>

</div>
