<!--↓メインのビュー-->

    <div class="wrapper clearfix">
      <!--メイン投稿画面-->
      <main class="main">
        <h2 class="hidden">HOT TOPIC</h2>
        <a href="#" class="hot-topic clearfix">
          <img class="image" src="assets/hot-topic.jpg" alt=”コンテンツの写真”>
          <div class="content">
            <h3 class="title">実務で使えるHTML/CSS<br>モダンコーディングTIPS</h3>
            <p class="desc">webフロントエンドの進化の勢いは留まることを知りません。新しい要素が増えて大幅に表現が広がったHTML5を活用</p>
            <time class="date" detetime="2015-09-01">2015.09.01 TUE</time>
          </div>
        </a>
        
        <h2 class="heading">Daily report</h2>
        <% @diaries.each do |diary| %>
        
        <ul class="scroll-list">
          <li class="scroll-item">
            <a href="#">
             <time class="date"><%= simple_time(diary.created_at) %></time>
             <%= simple_format(diary.philosophy) %>
          </li>
        </ul>
        <% end %>
      </main>

<!--サイドメニュー-->
      <div class="sidemenu">
        <h2 class="heading">KPI</h2>
        <ol class="ranking">
          <li class="ranking-item">
            <a href="#">
              <img class="image" src="assets/ranking.jpg" alt="グラフの画像">
              <span class="order"></span>
              <p class="text">HTML/CSSコーディングと切ってもきれないWEBブラウザのシェア動向をチェックしよう</p>
            </a>
          </li>
          
          <li class="ranking-item">
            <a href="#">
              <img class="image" src="assets/ranking.jpg" alt="グラフの画像">
              <span class="order"></span>
              <p class="text">HTML/CSSコーディングと切ってもきれないWEBブラウザのシェア動向をチェックしよう</p>
            </a>
          </li>
          <li class="ranking-item">
            <a href="#">
              <img class="image" src="assets/ranking.jpg" alt="グラフの画像">
              <span class="order"></span>
              <p class="text">HTML/CSSコーディングと切ってもきれないWEBブラウザのシェア動向をチェックしよう</p>
            </a>
          </li>
        </ol>
        
        <h2 class="heading">DOCUMENT</h2>
        <ul class="documents">
          <li>
            <h3 class="title">HTML5</h3>
            <ul>
              <li><a href="#">追加された要素</a></li>
              <li><a href="#">追加された要素</a></li>
              <li><a href="#">追加された要素</a></li>
              <li><a href="#">追加された要素</a></li>
            </ul>
          </li>
          <li>
            <h3 class="title">CSS3</h3>
            <ul>
              <li><a href="#">追加されたプロパティ</a></li>
              <li><a href="#">追加されたセレクタ</a></li>
              <li><a href="#">追加された単位</a></li>
            </ul>
          </li> 
          <li>
            <h3 class="title">TypeScript</h3>
            <p>準備中</p>
          </li>
        </ul>
        
        <!--検索フォーム-->
        <h2 class="hidden">SEARCH</h2>
        <form class="search-box">
          <input class="serch-input" type="text" name="search" placeholder="SERCH">
          <input class="search-button" type="submit" value="検索">
          <p class="text">検索できます</p>
        </form>
        
      </div>
      
    </div>

<!--↑ビューのメインとサイド部分-->


<!--<div class="contents row" >-->
<!--  <% @diaries.each do |diary| %>-->
<!--  　<div class="contents_post">-->
  　 
<!--  　 <div class="more">-->
<!--       <ul class="more_list">-->
<!--         <li>-->
<!--           <%= link_to "詳細", "/diaries/#{diary.id}", method: :get %>-->
<!--         </li>-->
<!--     <% if user_signed_in? && current_user.id == diary.user_id %>-->
<!--         <li>-->
<!--           <%= link_to "編集", "/diaries/#{diary.id}/edit", method: :get %>-->
<!--         </li>-->
<!--         <li>-->
<!--           <%= link_to "削除", "/diaries/#{diary.id}", method: :delete %>-->
<!--         </li>-->
<!--       </ul>-->
<!--  　 </div>-->
<!--  　 <% end %> -->
<!--  　   <%= simple_format(diary.philosophy) %>-->
<!--      <%= simple_format(diary.KPI) %>-->
<!--      <%= simple_format(diary.text1) %>-->
<!--      <%= simple_format(diary.text2) %>-->
<!--      -->
   
<!--  　</div>-->
<!--  <% end %>-->
<!--  <%= paginate(@diaries) %>-->
<!--</div>-->