<!--↓メインのビュー-->

    <div class="wrapper clearfix">
      <!--メイン投稿画面-->
      <main class="main">
        <h2 class="hidden">HOT TOPIC</h2>
        <a href="#" class="hot-topic clearfix">
          <img class="image" src="assets/sucsess" alt=”コンテンツの写真”>
          <div class="content">
            <h3 class="title">あなたの日々の努力をシェア！<br>仲間を作って継続学習</h3>
            <p class="desc">あなただけの人生の目的を達成しよう</p>
            <time class="date" ><%= simple_time(Time.current) %></time>
          </div>
        </a>
        
        <h2 class="heading">Daily report</h2>
        <% @diaries.each do |diary| %>
        
          <div class="post_diarry">
            <header class="sub-hedder">
              <ul class="post-headding">
                <li><%= simple_time(diary.created_at) %></li>
                <li><%= diary.user.nickname %></li>
              </ul>
             <% if user_signed_in? && current_user.id == diary.user_id %>
            　 <!--<div class="more">-->
                 <ul class="more_list">
                   <li>
                     <%= link_to "詳細", "/diaries/#{diary.id}", method: :get %>
                   </li>
                   <li>
                     <%= link_to "編集", "/diaries/#{diary.id}/edit", method: :get %>
                   </li>
                   <li>
                     <%= link_to "削除", "/diaries/#{diary.id}", method: :delete %>
                   </li>
                 </ul>
            　 <!--</div>-->
            　<% end %>
            </header>
           
            <div class="list">
              <p>人生の理念</p>
              <div class="post_philosophy">
                <%= simple_format(diary.philosophy) %>
              </div>
              <p>あなたの大事な目標</p>
              <div class="post_KPI">
                <%= simple_format(diary.KPI) %>
              </div>
               <p>その目標を達成するために何をした</p>
              <div class="for">
                <%= simple_format(diary.text1) %>
              </div>
              <p>明日もっと良くするために何をする</p>
              <div class="improvement">
                <%= simple_format(diary.text2) %>
              </div>
            </div>
          </div>
        <% end %> <!--eachの終わり-->
        <%= paginate(@diaries) %>-
      </main>

<!--サイドメニュー-->
      <div class="sidemenu">
        <h2 class="heading">Genre</h2>
        <ul class="documents">
          <li>
            <h3 class="title">work</h3>
            <ul>
              <li><%= link_to "business", "/genres/1", method: :get %></li>
              <li><%= link_to "business", "/genres/2", method: :get %></li>
              <li><%= link_to "business", "/genres/1", method: :get %></li>
            </ul>
          </li>
          <li>
            <h3 class="title">CSS3</h3>
            <ul>
              <li><a href="#">追加されたプロパティ</a></li>
              <li><a href="#">追加されたセレクタ</a></li>
              <li><a href="#">追加された単位</a></li>
            </ul>
          </li> 
          <li>
            <h3 class="title">TypeScript</h3>
            <p>準備中</p>
          </li>
        </ul>
      </div>
      
    </div>




