
<div class="new">
  <%= form_for @diary, html: {class: "form-group"} do |f| %>
  
      <div class="new_form">
         <p>理念</p>
         <%= f.text_area :philosophy, class: "form-diary" %>
         <br>
         <p>KPI</p>
         <%= f.text_area :KPI, class: "form-diary" %>
         <br>
         <p>達成するために何をしたか</p>
         <%= f.text_area :text, class: "form-diary" %>
         <br>
         <p>もっと良くするために明日何をする？</p>
         <%= f.text_area :text2, class: "form-diary" %>
         <br>
         <p>ジャンルタグ     (例)＃ビジネス</p>
         <%= f.text_field:genre_name, class: "form-diary" %>
         <br>
         <%= f.hidden_field :user_id, value: current_user.id %>
         <br>
         <%= f.submit "送信", class: "form-diary" %>
      </div>
    
  <% end %>  
</div>
