<div class="new">
      <%= form_for@user, html: {class: "form-group"} do |f| %>

      <div class="new_form">
         <p>ユーザー画像</p>
         <% if @user.image? %>
            <%= image_tag @user.image.url %>
         <% else %>
            <%= image_tag "/assets/default.png", :size => '100x100' %>
         <% end %>
          <br>
          <button type="button">
             <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </button>
          <%= f.text_field :nickname, class: "nickname_edit" %>
          <br>
          <p>ユーザー紹介文</p>
          <%= f.text_area :introduction, class: "user_edit" %>
          <br>
         <%= f.submit '更新する', class: 'form-diary' %>
        </div>
       <% end %>

</div>

