<!--↓メインのビュー-->

<div class="wrapper clearfix">
  <!--メイン投稿画面-->
  <main class="main">
    <h2 class="hidden">HOT TOPIC</h2>
    
    <div class="user_info">
      <div class="user_image"><%= image_tag @user.image.thumb.url, size: '100x100' %></div>
      <div class="user_name">
      <ul class="change">
        <li><%= @user.nickname %></li>
        <li><%= link_to "フォロー(#{@user.followings.count})", following_user_path(@user), class: "nav-link" %></li>
        <li><%= link_to "フォロワー(#{@user.followers.count})", followers_user_path(@user), class: "nav-link" %></li>
        <% if current_user.id == @user.id %>
          <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
          <li><%= link_to "タスク作成", new_task_path %></li>
        <% end %>
      </ul>
      </div>
      <div class="user_introduction"><%= @user.introduction %></div>
    </div>

    <h2 class="heading">Daily report</h2>
    <% if user_signed_in? && @user != current_user%>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
             <%= render "unfollow" %>
        <% else %>
             <%= render "follow" %>
        <% end %>
      </div>
      <% end %>
    <% @diaries.each do |diary| %>
    
     <%= render partial: "diaries/diary", locals: { diary: diary } %>  <!--投稿内容部分テンプレート-->
    
    <% end %> <!--eachの終わり-->
    <%= paginate(@diaries) %>
  </main>

<!--サイドメニュー-->
  <div class="sidemenu">
        <% if current_user.id == @user.id %>

<% end %>
    <h2 class="heading">Task</h2>
    <ul class="documents">
      <% @task.each do |t| %>
      <li>
        
        <h3 class="title"><%= t.task %><%= t.limit_date %></h3>
        <ul>
          <li>
            <%= link_to "変更", "/tasks/#{t.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to "完了", "/tasks/#{t.id}", method: :delete %>
          </li>
        </ul>
        
      </li>
      <% end %>
    </ul>
  </div>
  
</div>


  




  