<!--↓メインのビュー-->

<div class="wrapper clearfix">
  <!--メイン投稿画面-->
  <main class="main">
    <h2 class="hidden">HOT TOPIC</h2>
    <a href="#" class="hot-topic clearfix">
        <!--<div class="image" style= "background-image: url(%= rails_blob_path(@user.user_image ) %>)"></div>-->
        <div class="image">
          <%= image_tag @user.image.thumb.url %>
        </div>
 
      <div class="content">
        <h3 class="title">user_name<br><%= @user.nickname %></h3>
        <%= render partial: "relationships/follow_button", locals: { user: @user } %>
        <p class="desc"></p>
        
      </div>
    </a>
    
    <h2 class="heading">Daily report</h2>
    <% @diaries.each do |diary| %>
    <%= render partial: "diary", locals: { diary: diary } %>  <!--投稿内容部分テンプレート-->

    <% end %> <!--eachの終わり-->
    <%= paginate(@diaries) %>-
  </main>

<!--サイドメニュー-->
  <div class="sidemenu">
        <% if current_user.id == @user.id %>
    <div class="profile_edit">
      <%= link_to "プロフィール編集", edit_user_path(current_user) %>
      <%= link_to "タスク作成", new_task_path %>
    </div>
    <progress id="myProgress" value="0" max="100">0%</progress>
<% end %>
    <h2 class="heading">Task</h2>
    <ul class="documents">
      <% @task.each do |t| %>
      <li>
        
        <h3 class="title"><%= t.task %><%= t.limit_date %></h3>
        <ul>
          <li>
            <%= link_to "変更", "/tasks/#{t.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to "完了", "/tasks/#{t.id}", method: :delete %>
          </li>
        </ul>
        
      </li>
      <% end %>
    </ul>
  </div>
  
</div>


  




  