<!--↓メインのビュー-->

<div class="wrapper clearfix">
  <!--メイン投稿画面-->
  <main class="main">
    <h2 class="hidden">HOT TOPIC</h2>
    <a href="#" class="hot-topic clearfix">
      <div class="image" style="background-image: url(%= rails_blob_path(@user.image) %>)"></div>
      <div class="content">
        <h3 class="title">user_name<br><%= @user.nickname %></h3>
        <p class="desc"></p>
      </div>
    </a>
    
    <h2 class="heading">Daily report</h2>
    <% @diaries.each do |diary| %>
    
      <div class="post_diarry">
        <header class="sub-hedder">
          <ul class="post-headding">
            <li><%= simple_time(diary.created_at) %></li>
            <li><%= diary.user.nickname %></li>
          </ul>
         <% if user_signed_in? && current_user.id == diary.user_id %>
        　 <!--<div class="more">-->
             <ul class="more_list">
               <li>
                 <%= link_to "詳細", "/genres/#{diary.genre_id}/diaries/#{diary.id}", method: :get %>
               </li>
               <li>
                 <%= link_to "編集", "/genres/#{diary.genre_id}/diaries/#{diary.id}/edit", method: :get %>
               </li>
               <li>
                 <%= link_to "削除", "/genres/#{diary.genre_id}/diaries/#{diary.id}", method: :delete %>
               </li>
             </ul>
        　 <!--</div>-->
        　<% end %>
        </header>
       
        <div class="list">
          <p>人生の理念</p>
          <div class="post_philosophy">
            <%= simple_format(diary.philosophy) %>
          </div>
          <p>あなたの大事な目標</p>
          <div class="post_KPI">
            <%= simple_format(diary.KPI) %>
          </div>
           <p>その目標を達成するために何をした</p>
          <div class="for">
            <%= simple_format(diary.text1) %>
          </div>
          <p>明日もっと良くするために何をする</p>
          <div class="improvement">
            <%= simple_format(diary.text2) %>
          </div>
        </div>
      </div>
    <% end %> <!--eachの終わり-->
    <%= paginate(@diaries) %>-
  </main>

<!--サイドメニュー-->
  <div class="sidemenu">
        <% if current_user.id == @user.id %>
    <div class="profile_edit">
      <%= link_to "プロフィール編集", edit_user_path(current_user) %>
      <%= link_to "タスク作成", new_task_path %>
    </div>
    <progress id="myProgress" value="0" max="100">0%</progress>
<% end %>
    <h2 class="heading">Task</h2>
    <ul class="documents">
      <% @task.each do |t| %>
      <li>
        
        <h3 class="title"><%= t.task %><%= t.limit_date %></h3>
        <ul>
          <li>
            <%= link_to "変更", "/tasks/#{t.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to "完了", "/tasks/#{t.id}", method: :delete %>
          </li>
        </ul>
        
      </li>
      <% end %>
    </ul>
  </div>
  
</div>


  




  