<h4 class="serch_list">検索結果一覧</h4>
<%= form_tag(diaries_searches_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>

<% @search_diaries.each do |search_diary| %>

  <div class="search_diary">
    <div class="sub-hedder">
      <ul class="post-headding">
        <li><%= simple_time(search_diary.created_at) %></li>
        <li><%= link_to "ユーザー#{search_diary.user.nickname}", "/users/#{search_diary.user_id}", method: :get %></li>
      </ul>
       <ul class="more_list">
         <li>
           <%= link_to "詳細", "/diaries/#{search_diary.id}", method: :get %>
         </li>
         <% if user_signed_in? && current_user.id == search_diary.user_id %>
         <li>
           <%= link_to "編集", "/diaries/#{search_diary.id}/edit", method: :get %>
         </li>
         <li>
           <%= link_to "削除", "/diaries/#{search_diary.id}", method: :delete %>
         </li>
       </ul>
    　<% end %>
    </div>

    <div class="image_header">
      <%= image_tag search_diary.user.image.thumb.url, size: '100x100' %>
    </div>
    
    <div class="image_bottom"></div>

    <div class="list">
      <p>人生の理念</p>
      <div class="post_philosophy">
        <%= simple_format(search_diary.philosophy) %>
      </div>
      <p>あなたの大事な目標</p>
      <div class="post_KPI">
        <%= simple_format(search_diary.KPI) %>
      </div>
       <p>その目標を達成するために何をした</p>
      <div class="for">
        <%= simple_format(search_diary.text) %>
      </div>
      <p>明日もっと良くするために何をする</p>
      <div class="improvement">
        <%= simple_format(search_diary.text2) %>
      </div>
      <%= render_with_genres(search_diary.genre_name) %>
      
    </div>
  </div>
<% end %> <!--eachの終わり-->

