<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>Motivate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
       
     <% if user_signed_in? %>
      
      <div class="user_nav grid-6">
        <ul>
          <li>
            <%= form_tag(diaries_searches_path,:method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag '検索', :name => nil %>
            <% end %>
          </li>
          <li><%= link_to "投稿する", "/genres/new" %></li>
          <li><%= link_to "My page", "/users/#{current_user.id}" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
     <div class="user_nav grid-6">
       <ul>
          <li>
            <%= form_tag(diaries_searches_path,:method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag '検索', :name => nil %>
            <% end %>
          </li>
         <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
         <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
         <li><%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, method: :post %></li>
       </ul>
 
     </div>
     <% end %> 
     </header>

    <%= yield %>
    
    
    <footer class="footer"></footer>
  </body>
  

  
<!--    -->
  

<!--  </body>-->
<!--</html>-->
